doctype html
html
  head
    title Display
    link(rel="stylesheet" href="/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,400;1,500;1,900&display=swap" rel="stylesheet")
    meta(name="viewport" content="width=600")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="white")
  body
    block content
