extends _layout

block content
  if fees
    .stats
      +displayStat(fees.fastestFee, 'sat/vB high')
      +displayStat(fees.halfHourFee, 'sat/vB med')
      +displayStat(fees.hourFee, 'sat/vB low')
      +displayStat(fees.minimumFee, 'sat/vB min')
