extends _layout

block content
  if lightning
    .stats
      +displayStat(sats2BTC(lightning.latest.total_capacity), 'BTC capacity')
      +displayStat(lightning.latest.node_count, 'nodes')
      +displayStat(lightning.latest.channel_count, 'channels')
