# Server port
DISPLAY_SERVER_PORT=3030

# Local Mempool instance to use for data fetching.
# When unset, the public mempool.space is used.
# MEMPOOL_BASE_URL="https://mempool.space"

# Exchange rates to show.
# Supported currencies: USD, EUR, GBP, CHF, CAD, AUD, JPY
DISPLAY_RATE1="USD"
DISPLAY_RATE2="EUR"

# Display settings: plain (default), onchain, lightning, random
DISPLAY_THEME="plain"

# Other settings
DOTENV_CONFIG_QUIET=true
